<!DOCTYPE html >
<html >
<head>
	<title>惠功文理補習班--聯絡我們</title>
	<meta charset="UTF-8">
    <link rel="icon" href="/logo.PNG">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/chat.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/fe2c6890d9.js"></script>
	
</head>
<body>

    <% include ../partials/nav.ejs %>

<div id="frame">
    <div class="col-md-3 col-xs-4">
    <div id="sidepanel">
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="搜尋" />
        </div>

        <div id="contacts">
            <ul class="sidepanel_contact">
            <% teacherlist.forEach( function( teacherlist ){ %>
                <li class="contact" id='<%= teacherlist.id %>'>
                    <div class="wrap">
                        <a href="/chat/<%= teacherlist.id %>">
                        <img src="/blankuser.jpg" alt="" />
                        <div class="meta">
                            <p class="name"><%= teacherlist.name %></p>
                            <p class="preview">pre msg</p>
                        </div>
                        </a>
                    </div>
                </li>
            <% }); %>
            </ul>
        </div>
    </div>
    </div>

    <div class="col-md-9 col-xs-8 right">
    <div class="content">

        <div class="contact-profile">
            <img src="/blankuser.jpg" alt="" />
            <p> <%= chatWith.name %></p>
        </div>

        <div class="message-input">
            <div class="wrap">
            <form id='msgform' name='msgform' action="/chat" method="POST">
                <input type="hidden" name="receiverId" id="receiverId" class="form-control" value="<%= chatWith.id%>" >
                
                <input type="hidden" name="receiverName" id="receiverName" class="form-control" value="<%= chatWith.username%>" >
                
                <% currentUser.forEach(function(currentUser){ %>

                <input type="hidden" name="userId" id="userId" class="form-control" value="<%= currentUser.id%>" >
                
                <input type="hidden" name="userName" id="userName" class="form-control" value="<%= currentUser.username%>" >
                
                <% })%>

                <% var date = new Date(); %>
                <input hidden type="text" id="date" placeholder="2099/01/31" name="timestamp" value="<%= date.getFullYear() %>年<%= (date.getMonth())+1 %>月<%= date.getDate() %>日/ <%= date.getHours()%>:<%= date.getMinutes()%>:<%= date.getSeconds()%>">
                
                <textarea class="form-control" rows="1" name="content" id="msg_body" placeholder="輸入訊息..."></textarea>
                
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="sendBtn" id="btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                <input hidden type="submit" name="sendmessage" id="sendmessage" />
            </form>    
            </div>
        </div>   

        <% chats.forEach( function( chats ){ %>
        <div class="messages" id='scrolldowndiv'>
            <ul class="msg_area" id='autoFreshMsg'>
            <% if (chats.userFrom == chatWith.id) {%> 
                <li class="replies">
                    <img src="/blankuser.jpg" alt="" />
                    <p><%= chats.body %></p>
                </li>
            <% } else {%>
                <li class="sent">
                    <img src="/blankuser.jpg" alt="" />
                    <p><%= chats.body %></p>
                </li>
            <% } %>    
            </ul>
        </div>
        <% }); %>
    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/4d5ece1593.js"></script>
<!-- <script type="text/javascript" src="/stylesheets/js/chat.js"></script> -->
<script type="text/javascript" src="/stylesheets/js/chatroom.js"></script>

</body>
</html>
