<!DOCTYPE html >
<html >
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/class.css">

</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="full-width">
    
<!--     <div class='cf'>
      <div class="Switch card">
        <div class="Toggle"></div>
        <span class="on"><i class="fa fa-th"></i></span>
        <span class="off"><i class="fa fa-th-list"></i></span>
      </div>
    </div> -->
      
    <div class="col-md-3">

    <% contactbook.forEach( function( contactbook ){ %>
      <%　insideClasslist.forEach(function(insideClasslist) { %>
       <% if(insideClasslist.className==contactbook.grade+contactbook.category){ %>
      <div class="card-view">
        <div class="container">
          <div class="tag_name"><%= contactbook.grade %><%= contactbook.category %></div>
            <div class="c_content">
              <div class="post_name"><p>今日作業</p></div>
              <br>
              <p><%= contactbook.content %></p>
                <%  if(contactbook.image == "" || contactbook.image == undefined) { %>
                    <% } else { %>
                    <a href="uploads/<%=contactbook.image%>">圖片連結</a>
                    <% } %>
               <div>
          
            </div>

          <div class="teacher">
            
            <div class="teacher_info">
              
              <div class="teacher_name"><%= contactbook.post_user %> • <%= contactbook.contactdate %></div>
              <div class="teacher_avatar">
                <img  src="/logo.PNG">
              </div>
            </div>
          </div> <!-- end .user -->
        </div> <!-- end .container -->
      </div> <!-- end card -->
      <% } %>
     <% }); %>
    <% }); %>

    </div> <!-- end col-md-3 -->
</div>


<% include ../partials/scripts.ejs %>

</body>

</html>