<!DOCTYPE html >
<html >
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>


<main class="content">
<div id="postIndex" class="widthWrapper">
  <ul>
    <% article.forEach( function( article ){ %>
    <li class="indexItem " >
    <article>
      <a href="#<%= article.id %>" class="modal-open">
        <div class="postImg">
          <img src="/logo.PNG" />
        </div>
        <h3><%= article.title %></h3>
        <h6>發佈人：<%= article.post_user%> 發佈時間：<%= article.post_date%></h6>
        <p><%= article.content %></p>
      </a>
    </article>

    <section class="modal bg--lightgray" role="dialog" id="<%= article.id %>" aria-labelledby="modalA-title" aria-describedby="modalA-description">
	<a href="#" class="modal-exit" title="close">&times;</a>
	<h1 id="modalA-title" class="modal-title"><%= article.title %></h1>
	<p id="modalA-description" class="modal-description"><%= article.content %></p>
	</section>
  </li>
  <% }); %>
    </ul>
	</main>

  <footer class="footer">
    <p>惠功文理補習班 版權所有©2017 All Rights Reserved.</p>
  </footer>

</div>

  <% include ../partials/scripts.ejs %>

</body>

</html>