<!DOCTYPE html >
<html >
<head>

  <% include ../partials/header.ejs %>

</head>

<body>

<% include ../partials/nav.ejs %>

<div class="form-group col-md-12" >
    <a type="button" class="btn btn-default btn-primary" style="margin-bottom:10px" href="/profile_reset">修改密碼</a>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="dropup">
          <!--<th><input type="checkbox" unchecked></th>-->
          <th >帳號</th>
          <th >學生姓名</th>
          <th>電話</th>
          <th >父親姓名</th>
          <th >電話</th>
          <th >母親姓名</th>
          <th >電話</th>
          <th >家裡電話</th>
        </tr>
      </thead>
      <tbody>
        <% student.forEach(function( student ){ %>
        <tr>
          <!--<td><input type="checkbox" unchecked></td>-->
          <td><%= student.username %></td>
          <td><%= student.name %></td>
          <td><%= student.student_phone %></td>
          <td><%= student.father_name %></td>
          <td><%= student.father_phone %></td>
          <td><%= student.mother_name %></td>
          <td><%= student.mother_phone %></td>
          <td><%= student.home_phone %></td>
          <td><a id="modify" type="button" class="btn btn-default btn-warning" href="/profile_update">修改</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

<% include ../partials/scripts.ejs %>

</body>

</html>