<!DOCTYPE html>
<html>
<head>

  <% include ../../partials/admin_header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/insideClass.css">
    
</head>
<body>
<section id="sidebar"> 
  <div class="white-label">
  </div> 
  <div id="sidebar-nav">   
    <ul>
      <li><a href="/admin/post"></i>貼文管理</a></li>
      <li><a href="/admin/contactbook"></i>聯絡簿管理</a></li>
      <li class="active"><a href="/admin/classManager"></i>班級管理</a></li>
      <li ><a href="/admin/students">學生管理</a></li>
      <li><a href="/admin/teachers">老師管理</a></li>
      <li><a href="/admin/admin_chat">信箱</a></li> 
      <li><a href="/admin/logout">登出</a></li> 
    </ul>
  </div>
</section>
<section id="content">
  <div class="content">
    <div class="container">
        <div class="container col-md-4">
        
  <div class="form-group col-md-12" >
        <h1 style="text-align:center;">將學生加入班級中</h1>
        <form action="/admin/addStudentToClass" method="POST">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="dropup">
          <!--<th><input type="checkbox" unchecked></th>-->
          <th >是否加入</th>
          <th >學生帳號</th>
          <th >學生姓名</th>
          <th>最後登入時間</th>
        </tr>
      </thead>
      <tbody>
           <% student.forEach( function( student ){ %>
           <% var n = 1; %>
             <% if(insideclass.length == 0) { %>

               <tr>
                  <!--<td><input type="checkbox" unchecked></td>-->
                   <td><input name="checkedStudent" type="checkbox" value="<%= student.username %>"></td>
                  <td><%= student.username %></td>
                  <td><%= student.name %></td>
                  <td><%= student.last_login %></td>
                </tr>
  
                <% } else { %>
              <% insideclass.forEach( function( insideclass ){ %>
                  
                  <% if(insideclass.username == student.username){ %>
                      <% n = 0; %>
                <% } %>
              <% }); %>
              <% if(n==1) { %>
              <tr>
                  <!--<td><input type="checkbox" unchecked></td>-->
                   <td><input name="checkedStudent" type="checkbox" value="<%= student.username %>"></td>
                  <td><%= student.username %></td>
                  <td><%= student.name %></td>
                  <td><%= student.last_login %></td>
                </tr>
  
              <% } %>
         <% } %>
        <% }); %>
      </tbody>
    </table>
    <button type="submit" class="btn btn-defalut btn-primary">提交</button>
       </form>
  </div>
</div>

    </div>
  </div>
</section>

  <% include ../../partials/admin_scripts.ejs %>
</body>
</html>