<!DOCTYPE html>
<html>
<head>

    <% include ../../partials/admin_header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/admin_chat.css">

</head>
<body>
<section id="sidebar"> 
  <!-- <div id="sidebar-nav">    -->
    <ul>
      <li><a href="/admin/post"></i>貼文管理</a></li>
      <li><a href="/admin/contactbook"></i>聯絡簿管理</a></li>
      <li><a href="/admin/classManager"></i>班級管理</a></li>
      <li><a href="/admin/students">學生管理</a></li>
    <li><a href="/admin/teachers">老師管理</a></li>
      <li class="active"><a href="/admin/admin_chat/58b3361d2913430004e311ec">信箱</a></li>  
      <li><a href="/admin/logout">登出</a></li>
    </ul>
  <!-- </div> -->
</section>
<section id="content">
  <div id="frame">
    <div class="col-md-3 col-xs-4">
    <div id="sidepanel">
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="搜尋" />
        </div>

        <div id="contacts">
            <ul class="sidepanel_contact">

            <% studentlist.forEach( function( studentlist ){ %>
                <li class="contact" id='<%= studentlist.id %>'>
                    <div class="wrap">
                        <img src="/blankuser.jpg" alt="" />
                        <div class="meta">
                            <p class="name"><%= studentlist.name %></p>
                            <p class="preview">今日有回家作業，請家長提醒學生至聯絡簿檢查作業進度.</p>
                        </div>
                    </div>
                </li>
            <% }); %>    
            </ul>
        </div>
        <!-- <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div> -->
    </div>
    </div>

    <div class="col-md-9 col-xs-8">
    <div class="content">
        <div class="contact-profile">
            <img src="/blankuser.jpg" alt="" />
            <p><%= chatWith.name %></p>
            <!-- <div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div> -->
        </div>
        <div class="messages" id="autoFreshMsg">
            <ul class="msg_area">
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    <p>請問今日我小孩在補習班的表現如何？</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>他今天放學之後很準時的還上課，上課表現也很優良</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>今日有回家作業，請家長提醒學生至聯絡簿檢查作業進度</p>
                </li>
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    <p>Oh yeah, did Michael Jordan tell you that?</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>No, I told him that.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>What are your choices when someone puts a gun to your head?</p>
                </li>
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    <p>What are you talking about? You do what they say or they shoot you.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
            <form name='msgform' action="/admin/admin_chat" method="POST">
                <input type="hidden" name="receiverId" id="receiverId" class="form-control" value="<%= chatWith.id%>" >

                <input type="hidden" name="receiverName" id="receiverName" class="form-control" value="<%= chatWith.username%>" >

                <input type="hidden" name="userId" id="userId" class="form-control" value="<%= currentUser.id%>" >
                
                <input type="hidden" name="userName" id="userName" class="form-control" value="<%= currentUser.username%>" >

                <% var date = new Date(); %>
                <input hidden type="text" id="date" placeholder="2099/01/31" name="timestamp" value="<%= date.getFullYear() %>年<%= (date.getMonth())+1 %>月<%= date.getDate() %>日/ <%= date.getHours()%>:<%= date.getMinutes()%>:<%= date.getSeconds()%>">

                <textarea class="form-control" rows="1" name="content" placeholder="輸入訊息..."></textarea>

                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="sendBtn" id="btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                <input hidden type="submit" name="sendmessage" id="sendmessage" />
            </form>    
            </div>
        </div>   
    </div>
    </div>
  </div>
</section>

    <% include ../../partials/admin_scripts.ejs %>
    <script type="text/javascript" src="/stylesheets/js/admin_chatroom.js"></script>

</body>
</html>