<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/admin_header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/classManager.css">

</head>
<body>
<section id="sidebar"> 
  <div class="white-label">
  </div> 
  <div id="sidebar-nav">   
    <ul>
     <li><a href="/admin/post"></i>貼文管理</a></li>
     <li><a href="/admin/contactbook"></i>聯絡簿管理</a></li>
     <li class="active"><a href="/admin/classManager"></i>班級管理</a></li>
     <li><a href="/admin/students">學生管理</a></li>
     <li><a href="/admin/teachers">老師管理</a></li>
     <li><a href="/admin/admin_chat">信箱</a></li>     
     <li><a href="/admin/logout">登出</a></li>
    </ul>
  </div>
</section>
<section id="content">

  <div class="container">
  	
  	<a  class="btn btn-primary btn-large" id="btn-new" href="/admin/newClass">建立班級</a>
  	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
    	<% classList.forEach(function(Class){ %>
    		<div class="col-md-4 col-sm-6">
    		  <div class="thumbnail">
    		    <h3><%= Class.grade %><%= Class.category %></h4>
    		    <div class="caption">
    		      <h5>時間：<%= Class.class_day %></h5>
    		    	<h5>時段：<%= Class.class_time %></h5>
    		    	<h6>授課老師：<%= Class.teacher %></h6>
    		    	<form action="/admin/insideClass" method="GET">
    		  
              <input hidden type="text" name="classname" value="<%= Class.grade %><%= Class.category %>" />
              <input type="submit" value="查看" class="btn btn-default" />
              </form>
    		    </div>
    		  </div>
    		</div>
    	<% }); %>
    	 </div>
    	
      </div>
</section>

<% include ../../partials/admin_scripts.ejs %>

</body>
</html>